h3 Kontak
du.details
  .row
    dt Email
    dd
      a.email(href="mailto:abi@hafs.in") abi@hafs.in
  .row
    dt Telepon
    dd
      abbr.tel(title="+6289686375131") +62 896 86375131

h3 Tautan
du.details
  .row
    dt Homepage
    dd
      a.url(href="http://hafs.in/", rel="homepage") http://hafs.in/
  .row
    dt Blog
    dd
      a(href="http://chsj.hafs.in/") Catatan Hati Seorang Jomblo
  .row
    dt Linked In
    dd
      a(href="http://id.linkedin.com/in/abihafshin") Abi Hafshin
  .row
    dt GitHub
    dd
      a(href="https://github.com/abiehaf") abiehaf
  .row
    dt Facebook
    dd
      a(href="https://www.facebook.com/abiehafshin") Abi Hafshin Alfarouq
  .row
    dt Twitter
    dd
      a(href="https://twitter.com/abiehaf") @abiehaf
  .row
    dt Google Plus
    dd
      a(href="https://plus.google.com/+AbiHafshin/") +AbiHafshin
  .row
    dt Ask.fm
    dd
      a(href="http://ask.fm/abiehaf") abiehaf

