#organizzy.hproduct
  h3.fn Organizzy
  .description
    p.summary.
      #[a.url(href="https://organizzy.org/",rel="product") Organizzy] merupakan aplikasi untuk membantu mengatur dan mengelola
      organisasi atau kepanitiaan mahasiswa. Untuk saat ini organizzy hanya tersedia di
      #[a(href="https://play.google.com/store/apps/details?id=org.organizzy.client.android") Play Store] dan
      #[a(href="https://chrome.google.com/webstore/detail/organizzy") Chrome Web Store].
    p.technology.
      Di sisi server, aplikasi ini ditulis dengan bahasa PHP dan menggunakan Yii Framework. Sedangkan applikasi androidnya dibuat
      dengan menggunakan cordova.

#ivs.hproduct
  h3.fn Integrated Voting System
  .description
    p.summary.
      #[a.url(href="https://github.com/hafsoft/php-ivs",rel="product") Integrated Voting System] merupakan library yang digunakan
      untuk pemilihan elektronik. Fungsi Library ini mirip dengan #[a(href="#evote-ui") e-Vote UI] dengan penyempurnaan dibeberapa aspek.
      Selain membuat library-nya, Abi juga juga mengimplementasikan library tersebut pada Elektronik Voting UI 2013.
    p.technology.
      Library ini ditulis dengan bahasa PHP. Library ini juga dibuat se-modular mungkin agar bisa digunakan secara umum.

#pustaka-nutrisi.hproduct
  h3.fn Pustaka Nutrisi
  .description
    p.summary.
      #[a.url(href="http://apps.pustaka-nutrisi.com/",rel="product") Pustaka Nutrisi] merupakan software untuk membantu
      proses survei bahan makanan. Abi ditugaskan untuk membuat applikasi mobile yang akan digunakan langsung oleh peninjau.
    p.technology.
      Applikasi mobile ini menggunakan Phonegap. Sedangkan untuk framework nya, applikasi ini menggunakan JqueryMobile.

#oprecx.hproduct
  h3.fn Oprecx
  .description
    p.summary.
      Oprecx adalah applikasi berbasis web yang digunakan untuk membantu proses pendaftaran organisasi ataupun kepanitiaan.
      Abi mengerjakan software ini bersama teman-temannya dikampus.
    p.technology.
      Aplikasi ini dibuat menggunakan PHP dan Yii sebagai frameworknya.

#ppsi-ui.hproduct
  h3.fn Tenaga Wirada PPSI UI
  .description
    p.summary.
      Abi pernah menjadi Tenaga Wirada di #[a(href="http://ppsi.ui.ac.id") Pengembangan & Pelayanan Sistem Informasi (PPSI)]
      Universitas Indonesia. Di sana Abi ditugaskan untuk membantu mengembangkan dan memperbaiki beberapa sistem informasi
      yang digunakan oleh Universitas Indonesia.
    p.technology.
      Di PPSI, Abi lebih sering bekerja dengan HTML, Javascript, dan CSS.

#evote-ui.hproduct
  h3.fn e-Vote UI
  .description
    p.summary.
      Pada tahun 2012 dipercaya sebagai Penanggung Jawab (PJ) Evote di
      #[a.url(href="http://pemilihanraya.ui.ac.id",rel="product") Pemilihan Raya Ikatan Keluarga Mahasiswa Universitas Indonesia (Pemira IKM UI)].
      Kala itu, adalah pemilihan pertama yang menggunakan elektronik voting pada tingkat universitas. Selain sebagai PJ,
      Abi juga ikut serta dalam pengembangan perangkat lunak yang akan digunakan pada ajang pemilihan badan eksekutif dan
      legislatif kampus tersebut.
    p.technology.
      Sistem evote ini terdiri atas dua subsistem, #[i Server Side] dan #[i Client Side]. Abi sendiri lebih banyak
      berkontribusi pada Client Side, mulai dari disain antar muka sampai pengembangan sistem operasi khusus untuk pemilihan.
      Sistem operasi tersebut berbasis linux dan dirancang untuk hanya digunakan untuk proses pemilihan.

#web-okk-ui.hproduct
  h3.fn Website OKK UI 2012
  .description
    p.summary.
      Ketika Abi mengikuti kepanitiaan Orientasi Kehidupan Kampus Uninversitas Indonesia (OKK UI), Abi juga diamanahkan untuk
      mendisain dan mengembangkan website resmi OKK UI, #[a.url(href="http://okk.ui.ac.id",rel="product") okk.ui.ac.id]. Selain informasi mengenai
      OKK, web tersebut juga digunakan sebagai sarana pengumpulan tugas para mahasiswa baru.
    p.technology.
      Seperti biasa, Abi menggunakan Wordpress sebagai CMS. Selain itu Abi membuat plugin agar web tersebut bisa digunakan
      para mahasiswa baru untuk mengumpulkan tugas ospek nya.

#hafelect-4.hproduct
  h3.fn HafElect 4
  .description
    p.summary.
      HafElect 4 adalah versi revisi dari #[a(href="#hafelect-3") HafElect 3]. Pada versi ini, Abi membuat HafElect lebih mudah
      digunakan. Selain lebih mudah, versi ini juga lebih cepat dan lebih aman dari versi sebelumnya.
    p.technology.
      Meskipun, Abi menulis ulang kode HafElect 4, teknologi yang digunakan tidak jauh berbeda dengan versi sebelumnya. Di versi
      ini, Abi menambahkan fitur theme dan mengenalkan HafElect Protocol 4 (HEP4).

#web-salam-ui.hproduct
  h3.fn Website Salam UI 2011
  .description
    p.summary.
      Ketika menjabat sebagai staff humas Nuansa Islam Mahasiswa Universitas Indonesia (Salam UI), Abi diamanahkan untuk
      mendisain dan mengembangkan web resmi Salam UI, #[a.url(href="http://salam.ui.ac.id/",rel="product") salam.ui.ac.id].
      Namun, ketia penggantian masa jabatan, web tersebut didisain ulang oleh pengurus selanjutnya.
    p.technology.
      Web tersebut menggunakan Wordpress dan tema khusus yang dibuat untuk Salam UI. Abi juga menerapkan teknik Search Engine
      Optimization (SEO) untuk web tersebut dan hasilnya cukup memuaskan.

#hafelect-3.hproduct
  h3.fn HafElect 3
  .description
    p.summary.
      HafElect dibuat untuk memilih ketua dan wakil ketua Organisasi Siswa Intra Sekolah (OSIS) SMA Negeri 1 Pandeglang.
      Software ini berhasil melayani kurang lebih 1000 pemilih yang terdiri dari siswa/siswi SMA Negeri 1 Pandeglang.
      Selain di OSIS, software ini juga digunakan di Majelesi Permusyawaratan Kelas (MPK) SMAN 1 Pandeglang dan
      Rohani Islam (Rohis) Al-Quds SMAN 1 Pandeglang.
    p.technology.
      HafElect dibuat dengan menggunakan bahasa C++ dan hanya dapat berjalan pada platform Windows. Software ini menggunakan
      #[i protocol] khusus yang ditransfer melalui TCP.

#opensource
  h3 Open Source
  .description
    p.
      Selain produk-produk tersebut, Abi juga membuat beberapa software open source yang di-publish di
      #[a(href="https://github.com/abiehaf") GitHub]