p.
  Sampai saat ini, Abi menguasai beberapa bidang teknologi, di antaranya:

h3 Web Application
du.details
  .row
    dt Standard
    dd HTML 5, Javascript, CSS 3, XML, JSON, SVG, dll
  .row
    dt Server Scripting
    dd PHP, NodeJS, dll
  .row
    dt Client Library
    dd jQuery, Twitter Bootstrap, dll
  .row
    dt Framework
    dd Yii, Symfony, SailsJS, dll
  .row
    dt CMS
    dd WordPress, Drupal, dll

h3 Desktop Application
du.details
  .row
    dt Platform
    dd Windows, Linux
  .row
    dt Language
    dd Java, Python, C/C++, VisualBasic, dll
  .row
    dt Framework/Library
    dd dotNet Framework, GTK

h3 Mobile Application
du.details
  .row
    dt Platform
    dd Android
  .row
    dt Framework/Library
    dd Cordova/Phonegap

h3 Other
du.details
  .row
    dt Operating System
    dd Linux (Debian, Ubuntu, Arch Linux, dll); Windows
  .row
    dt Database
    dd PostgreSQL, MySQL, SQLite, dll
  .row
    dt Version Control
    dd Git, SVN
