//
   Created by abie on 7/29/14.

img.photo(align="right", src="/img/photo-abi.jpg", width="228", height=300)
p.
  #[span.n #[span.given-name Abi] #[span.family-name Hafshin] #[span.additional-name Alfarouq]] atau lebih dikenal
  dengan nama #[span.nickname Abi] Hafshin lahir di Pandeglang pada #[time.bday(datetime="1992-10-07") 7 Oktober 1992].
  Abi menghabiskan masa kecil bersama orang tua dan saudara-saudaranya di
  #[span.adr #[a.locality(href='http://id.wikipedia.org/wiki/Kabupaten_Pandeglang') Pandeglang], #[a.region(href='http://id.wikipedia.org/wiki/Banten') Banten], #[span.country-name Indonesia]].
  Setelah lulus SMA, dia melanjutkan
  studinya di Universitas Indonesia dan tinggal di Depok.
p.
  Sejak kecil Abi selalu tertarik dengan sains dan teknologi. Hal ini dikarenakan kakaknya yang sering bercerita
  tentang ilmuan-ilmuan hebat pada jamannya. Rangsangan tersebut membuat Abi bermimpi untuk menjadi ilmuan juga.
  Namun pada masa SMP, Abi mulai mengenal dunia perangkat lunak (Software) dan mulai tertarik untuk menjadi
  Programmer. Sejak saat itu Abi mulai memelajari Software Engineering dan menekuni hobi <i>coding</i>-nya.
p.
  Di masa SMA, Abi mulai membuat beberapa perangkat lunak, salah satunya adalah software untuk pemilihan Ketua dan Wakil Ketua
  OSIS SMAN 1 Pandeglang. Abi pun semakin mantap untuk melanjutkan cita-citanya sebagai
  #[a.category(href="http://id.wikipedia.org/wiki/Pengembang_perangkat_lunak") Software Developer].
  Setelah lulus SMA, Abi memutuskan untuk memperdalam ilmu programming nya di
  #[a(href="http://www.cs.ui.ac.id") Fakultas Ilmu Komputer], #[a(href="http://www.ui.ac.id") Universitas Indonesia].
  Di sana, Abi mendapat banyak ilmu yang belum pernah Dia dapatkan sebelumnya.
p.
  Selain teknologi, pergaulan membuat Abi juga tertarik dengan isu sosial, pendidikan, politik, dan linkungan.
  Abi pernah mengikuti kegiatan-kegiatan yang berhubungan dengan pendidikan, sosial, dan lingkungan.
  Tapi, meskipun Abi tertarik dengan isu politik, Abi belum memiliki niat untuk terjun langsung ke politik praktis.
